<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.form-group
{
color:purple;
}
h1
{
font-size: 25px;
font-family: cursive;
color: white;
background-color:black;
}
</style>
<meta charset="ISO-8859-1">
<title>For Removing</title>
</head>
<body>
<h1>Enter the Student Id to Delete</h1>
<form action="delstud" method="post">
<input type="hidden" name="_method" value="delete">
<div class="form-group">
    <label for="kodId">Enter KodNestId</label>
    <br>
    <input type="text" class="form-control" id="kodId" name="kodId" placeholder="KodNestId">
  </div>
  
  
  <button type="submit" class="btn btn-primary" value="Search">Delete</button>
</form>
</body>
</html>